name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
        - java: 8
          os: ubuntu-latest
        - java: 21
          os: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt scalafmtSbtCheck scalafmtCheckAll test scripted
    - run: rm -rf "$HOME/.ivy2/local" || true
